{% load static %}
.nav-wrapper.este{
  background-color: #8EE4AF;
}
.page-footer{

  background-color: #8EE4AF;
}
.material-icons.index{
	background-color:#8EE4AF;
}
 /*background-image: url("images/index_bacground.png");*/
.carousel-item{

}
.card-content{
	background-color: #FBEEC1;
}
.contenedor_carousel{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto_carousel{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    background-color:#8EE4AF;
}
.btn-large{
    background-color:#8EE4AF;
}
body {background-color: #eee2DC;}