{%extends 'eventos/index.html'%}

{%block title%}Modificar Evento{%endblock%}

{%block section_1%}
	<div class="section container row">
		<h2> Crear Evento </h2>
        <div class="col s6">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Agregar" id="CrearEvento">
                </form>
        </div>
        <div class="section col s6">
                    <img class="col s12"  src="https://materializecss.com/images/sample-1.jpg">
                
            </div>
                
			{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}	
				
	</div>
{%endblock%}