{%extends 'eventos/index.html'%}
{% load static %}

{%block title%}Eventos Inscrito{%endblock%}


{%block eventos_list%}
	
			{%for inscrito in list_inscritos%}
				<div class="carousel-item black-text contenedor_carousel" >
					<img src="{%static 'eventos/images/banner.png'%}">
					<div class="texto_carousel">
					<h2 class="flow-text black-text"><a href="{%url 'eventos:ver_evento' inscrito.evento.id%}">{{inscrito.evento.nombre}}</a></h2>
					<p class="flow-text black-text">{{inscrito.evento.tipo_evento}}</p>
						
					</div>
					
				</div>
			{%endfor%}
{%endblock%}
