{%extends 'eventos/index.html'%}

{%block title%}{{object.nombre}}{%endblock%}

{%block section_1%}
	<div class="section container row">
		<div class="col s6">
			<h4 class="center-align"> Datos del Evento</h4>
			<table class="highlight">
				<thead>
					<tr>
					<th>Nombre</th>
					<td>{{object.nombre}}</td>
					</tr>
				</thead>

				<tbody>
				<tr>
					<th>Tipo</th>
					<td>{{object.tipo_evento}}</td>
				</tr>
				<tr>
					<th>Fecha de Inicio</th>
					<td>{{object.fecha_inicio}}</td>
				</tr>
				<tr>
					<th>Fecha de Cierre</th>
					<td>{{object.fecha_fin}}</td>
				</tr>
				</tbody>
			</table>
			<div class="section center-align">
				<a href="{%url 'eventos:modificar_evento' object.id%}" class="waves-effect waves-light btn-large center-align"><i class="material-icons right">assignment</i>Modificar</a>
			</div>
		</div>
		<div class="col s6 center-align row">
			<h4>Gestores</h4>
			<ul class="collapsible">
				<li>
				<div class="collapsible-header">
					<a href="{%url 'eventos:gestionar_personal' object.id%}"><i class="material-icons right">person_add</i></a> Personal
				</div>
				<div class="collapsible-body">
					<span>
						<a href="{%url 'eventos:gestionar_personal' object.id%}" class="waves-effect waves-light btn-large"><i class="material-icons right">person_add</i>Personal</a>
					</span>
				</div>
				</li>

				<li>
				<div class="collapsible-header">
					<a href="{%url 'eventos:gestionar_ambiente' object.id%}"><i class="material-icons right">event_seat</i></a> Ambientes
				</div>
				<div class="collapsible-body">
					<span>
						<a href="{%url 'eventos:gestionar_ambiente' object.id%}" class="waves-effect waves-light btn-large"><i class="material-icons right">airline_seat_legroom_normal</i>Ambientes</a>
					</span>
				</div>
				</li>
				<li>
				<div class="collapsible-header">
					<a href="{%url 'eventos:gestionar_actividad' object.id%}"><i class="material-icons right">event</i></a>Actividades y Ponentes
				</div>
				<div class="collapsible-body">
					<span>
						<a href="{%url 'eventos:gestionar_expositor' object.id%}" class="waves-effect waves-light btn-large"><i class="material-icons right">contact_mail</i>Expositores</a>
						<a href="{%url 'eventos:gestionar_actividad' object.id%}" class="waves-effect waves-light btn-large"><i class="material-icons right">event</i>Actividades</a>
					</span>
				</div>
				</li>
				<li>
				<div class="collapsible-header">
					<a href="{%url 'eventos:gestionar_material' object.id%}"><i class="material-icons right">class</i></a>Materiales </div>
				<div class="collapsible-body">
					<span>
						<a href="{%url 'eventos:gestionar_material' object.id%}" class="waves-effect waves-light btn-large"><i class="material-icons right">border_color</i>Materiales</a>
					</span>
				</div>
				</li>
				<li>
				<div class="collapsible-header"><a href="{%url 'eventos:gestionar_ambiente' object.id%}"><i class="material-icons right">border_color</i></a>Inscripciones y Pre-Inscripciones</div>
				<div class="collapsible-body">
					<span>
						<a href="{%url 'eventos:gestionar_preinscrito' object.id%}" class="waves-effect waves-light btn-large"><i class="material-icons right">create</i>PreInscritos</a>
						<a href="{%url 'eventos:gestionar_inscrito' object.id%}" class="waves-effect waves-light btn-large"><i class="material-icons right">border_color</i>Inscritos</a>		
					</span>
				</div>
				<li>
				<div class="collapsible-header"><a href="{%url 'eventos:gestionar_paquete' object.id%}"><i class="material-icons right">airline_seat_legroom_normal</i></a>Paquetes</div>
				<div class="collapsible-body">
					<span>
						<a href="{%url 'eventos:gestionar_paquete' object.id%}" class="waves-effect waves-light btn-large"><i class="material-icons right">border_color</i>Paquetes</a>	
					</span>
				</div>
				</li>
				</li>
			</ul>

		</div>
		</div>
	
	</div>
{%endblock%}

{%block section_2%}
	<div class="container row section">
		<div class="col s6 center-align">
			<h4 class="center-align">Asistencia</h4>
			<a  class="btn-large" href="{%url 'eventos:gestionar_asistencia' object.id%}">Registro de Asistencia</a>
		</div>
		<div class="col s6 center-align">
			<h4 class="center-align">Reportes</h4>
			<a  class="btn-large" href="{%url 'eventos:gestionar_asistencia' object.id%}">Gestor de Reportes</a>
		</div>
	</div>
	
{%endblock%}

{%block scrip_text%}
		<script type="text/javascript">
			

			$(document).ready(function(){
				    $('.collapsible').collapsible();
					$(".dropdown-trigger").dropdown();
    				$('.sidenav').sidenav();
    				$('.tabs').tabs();
    				$('.carousel.carousel-slider').carousel({
		    			fullWidth: true,
		    			indicators: true
		      			});

    						});
        	
 
			
  						

		</script>
		{%endblock%}		