{%extends 'eventos/index.html'%}
{%block title%}Asistencia{%endblock%}

{%block section_1%}
	<div class="container row section">
		<form method="GET">
			<div class="col s3">
				<h5 class="center-align">Seleccionar</h5>
				<div class="input-field col s12">
					<select name="tipo_asistencia">
					<option value="general">General</option>
					<option value="actividad">Por Actividad</option>
					</select>
					<label>Tipo de Asistencia</label>
				</div>
				<div class="input-field col s12">
					<select name="actividad">
					<option value="" disabled selected>Actividad</option>
					{%for actividad in lista_actividades%}
					<option value="{{actividad.id}}">{{actividad.nombre}}</option>
					{%endfor%}
					</select>
					<label>Seleccione Su Actividad</label>
				</div>
				<div class="center-align col s12">
					<button class="btn" type="submit" value="Enviar">Seleccionar</button>
				</div>
			</div>
				
		</form>

		<div class="col s9 center-align container">
			<h4 class="blue-text">Registro de Asistencia</h4>
			{%if lista_inscritos%}
			<span>
				<h6 class="blue-text">Actividad: {{actividad.nombre}}</h6>
				<h6 class="blue-text">Fecha: {{actividad.fecha}}</h6>
				<h6 class="blue-text">Hora de Inicio: {{actividad.hora_inicio}} Hora de Fin: {{actividad.hora_fin}}</h6>
				<h6 class="blue-text"></h6>
			</span>
				<form method="POST">
				{%csrf_token%} 
					<table class="highlight centered">
						<thead>
							<tr>
								<th>Apellidos</th>
								<th>Nombres</th>
								<th>¿Asistió?</th>
							</tr>
						</thead>
						<tbody>
							{%for inscrito in lista_inscritos%}
								<tr>	
									<td>{{inscrito.profile.user.last_name}}</td>
									<td>{{inscrito.profile.user.first_name}}</td>

									<td>
										<p>
										<label>
										<input id="id_inscrito" type="checkbox" name="{{inscrito.id}}" />
										<span></span>
										</label>
										</p>
									</td>

								</tr>
							{%endfor%}
						</tbody>
					</table>
					<button class="btn" type="submit">Registrar</button>
				</form>
            



			{%endif%}
		</div>
		
	</div>
{%endblock%}

{%block scrip_text%}
	<script type="text/javascript">
		$(document).ready(function(){
					$(".dropdown-trigger").dropdown();
					  $('.tooltipped').tooltip();
    				$('.sidenav').sidenav();
    				$('.tabs').tabs();
    				$('.modal').modal();
    				$('.collapsible').collapsible();
    				$('select').formSelect();
    				});
	</script>
	
{%endblock%}
