{%extends 'eventos/index.html'%}

{%block title%}Paquetes-{{evento.nombre}}{%endblock%}
{%block section_1%}
	<div class="section row container">
		<div class="col s6">
			<ul class="collapsible popout">
			
			<h5 class="center-align"> Paquetes Disponibles</h5>
			{%for paquete in evento.paquete_set.all%}

				<li>
					<div class="collapsible-header">
						<i class="material-icons col s2">confirmation_number
					</i><span class="col s8">{{paquete.nombre}}</span>
					<!-- Modal Trigger -->
						<a class="modal-trigger col s2" href="#delete"  >
							<i class="material-icons">delete</i>
						</a>
				
					  
				
						<!-- Modal Structure style="margin-left: 250px;"-->
						<div id="delete" class="modal">
				    <div class="modal-content">
				      <h4>Modal Header</h4>
				      <p>A bunch of text</p>
				    </div>
				    <div class="modal-footer">
				      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
				    </div>
				  </div>		
				</div>

					<div class="collapsible-body row">
						<h6 class="col s6">Descripcion</h6>
						<span class="col s12 left-align">
							{{paquete.descripcion}} <a href="">+info</a>
						</span>
						<h6 class="col s6">Costo</h6><a class="col s6 waves-effect waves-light btn">{{paquete.costo}} $</a>

					</div>	
				</li>				
			{%endfor%}
			
		</ul>
		</div>
		<div class="col s6" >
			<h5 class="center-align">Crear Paquete</h5>
			<form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Agregar">
                </form>
		</div>


	</div>



{%endblock%}
{%block section_2%}
	<div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
  </div>
{%endblock%}
{%block section_3%}
	
{%endblock%}
{%block scrip_text%}
	<script type="text/javascript">
		$(document).ready(function(){
					$(".dropdown-trigger").dropdown();
    				$('.sidenav').sidenav();
    				$('.tabs').tabs();
    				$('.modal').modal();
    				$('.collapsible').collapsible();
    				$('select').formSelect();
    				});
	</script>
	
{%endblock%}

