{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{%block title%}Plataforma Cursos {%endblock%}</title>
	
	{% block header %}

		<link rel="stylesheet" type="text/css" href="{% static 'eventos/css/materialize.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'eventos/style.css' %}">
		
		<link rel="stylesheet" href="{% static 'eventos/icons.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	{% endblock %}


</head>
<body>
	{%block sidenav%}
		<ul id="slide-out" class="sidenav">
			<li><div class="user-view">
				<div class="background teal lighten-2">
			
				</div>
				<a href="#user"><i class="medium material-icons index">account_circle</i></a>
				<a href="#name"><span class="white-text name">{{user.username}}</span></a>
				<a href="#email"><span class="white-text email">{{user.email}}</span></a>
				</div>
			</li>
			<li><a href="{%url 'eventos:gestionar_evento' user.id %}"><i class="material-icons index">assignment_ind</i>Mis eventos</a></li>
			<li><a href=""><i class="material-icons index">exit_to_app</i> Cerrar Sesión</a></li>
			<li><div class="divider"></div></li>
			<li><a class="subheader">Editar Datos</a></li>
			<li><a class="waves-effect" href="{%url 'admin:auth_user_change' user.id%}">Modificar Informacion</a></li>
			<li><a href="{%url 'admin:password_change'%}">Cambiar Contraseña</a></li>

		</ul>
	
	{%endblock%}




	{% block nav%}
	<!-- Dropdown Structure -->
	<ul id="dropdown-MisEventos" class="dropdown-content">
	<li><a href="{%url 'eventos:gestionar_evento' user.id %}">Creados</a></li>
	<li class="divider"></li>
	<li><a href="{%url 'eventos:eventos_inscrito' user.id %}">Inscritos</a></li>
	</ul>
	<!-- Dropdown Structure -->
		<nav>

		<div class="nav-wrapper este"  id="nav_bar">
		  <a href="{%url 'eventos:index_2'%}" class=" brand-logo">AqpLife</a>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">

		  	<!-- Dropdown Trigger -->
		    <li><a class="dropdown-trigger" href="#!" data-target="dropdown-MisEventos">Mis Eventos</a></li>
		    <!-- Dropdown Trigger -->	

		    <li><a href="">Contactanos</a></li>
		    <li><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons index right">account_circle</i>{{user}}</a></li>

		  </ul>
		</div>

		</nav>
    {%endblock%}

	{%block section_1%}
	<div class="section ">
		
		<div class="carousel carousel-slider center">
			<!--<div class="carousel-fixed-item center">
				<a class="btn waves-effect white grey-text darken-text-2">button</a>
			</div>-->
			{%block eventos_list%}

			{%for evento in eventos_list%}
				<div class="carousel-item black-text contenedor_carousel" >
					<img src="{%static 'eventos/images/banner.png'%}">
					
					<div class="texto_carousel">
					<h2 class="flow-text black-text"><a href="{%url 'eventos:ver_evento' evento.id%}">{{evento.nombre}}</a></h2>
					<p class="flow-text black-text">{{evento.tipo_evento}}</p>
						
					</div>
					
				</div>
			{%endfor%}

			{%endblock%}
		</div>
	</div>
		
	{%endblock%}
	<div class="divider"></div>
	{%block section_2%}
	<div class="section container row">
		<div class="col center s4">
			
			<div class="card">
				<div class="card-image">
					
					<!--Click Crear Evento-->

					<img src="{%static 'eventos/images/crear_evento.png'%}">
					<span class="card-title">Crear Evento</span>
					<a href="{%url 'eventos:crear_evento' user.id%}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons index">add</i></a>
					</div>
					<div class="card-content">
					<p>Crea tu propio evento de manera rapida, sencilla y ¡gratis!. No pierdas tiempo y unete a la plataforma MakeEvents.</p>
				</div>
			</div>

		</div>
		<div class="col center s4">
			
			<div class="card">
				<div class="card-image">
					<img src="{%static 'eventos/images/eventos.png'%}">
					<span class="card-title">Eventos Disponibles</span>
					<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons index">search</i></a>
					</div>
					<div class="card-content">
					<p>Interactua con los miles de eventos que MakeEvents tiene para ti . ¡Animate y compra tu paquete ya!.</p>
				</div>
			</div>

		</div>
		<div class="col center s4">
			
			<div class="card">
				<div class="card-image">
					<img src="{%static 'eventos/images/soporte.jpg'%}">
					<span class="card-title">Soporte para Administradores</span>
					<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons index">assignment_ind</i></a>
					</div>
					<div class="card-content">
					<p>¿Ya tienes tu evento?.k|	 Te ayudamos a mejorarlo y que superes tu meta de participación. MakeEvents esta para ti. </p>
				</div>
			</div>

		</div>
		
  	</div>
	{%endblock%}
		<div class="divider"></div>
	{%block section_3%}	
	    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">AqpLife</h5>
                <p class="grey-text text-lighten-4">Derechos Reservados</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Enlaces Rapidos</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Contactanos</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Documentacion</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Ayuda</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Servicios</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Derechos AqpLife-Arequipa-Peru
            <a class="grey-text text-lighten-4 right" href="#!">IS2</a>
            </div>
          </div>
        </footer>
	

	{%endblock%}

	<script type="text/javascript" src="{% static 'eventos/js/jquery-2.1.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'eventos/js/materialize.min.js' %}"></script>

	 {%block scrip_text%}
		<script type="text/javascript">
			

			$(document).ready(function(){
					$(".dropdown-trigger").dropdown();
    				$('.sidenav').sidenav();
    				$('.tabs').tabs();
    				$('.carousel.carousel-slider').carousel({
		    			fullWidth: true,
		    			indicators: true
		      			});

    						});
        	
 
			
  						

		</script>
		{%endblock%}		
</body>
</html>