{%extends 'eventos/index.html'%}

{%block title%}Inscritos{%endblock%}

{%block section_1%}
	
	<div class="container row section">
		
		{%if inscrito.estado_inscripcion%}
			<div class="col s7">
			<h4 class="center-align">Estado de Inscripción</h4>
			<div class="Inscripcion">
				
				<ul class="collection with-header">
				<li class="collection-item row">
					<div class="col s5 left-align blue-text">
						<h5>Nombre:</h5>
						<h5>Apellido:</h5>
						<h5>Evento:	</h5>
						<h5>Paquete Adquirido:</h5>
						<h5>Estado de Pago:</h5>
						<h5 class="brown-text">Codigo de Pago</h5>
					</div>
					<div class="col s7">
						<h5> {{inscrito.profile.user.first_name}}</h5>	
						<h5> {{inscrito.profile.user.last_name}}</h5>
						<h5> {{inscrito.evento.nombre}}</h5>
						<h5> {{inscrito.paquete.nombre}}</h5>


						{%if inscrito.estado_inscripcion%}
						<h5 class="green-text"> Completo</h5>
						{%else%}
						<h5 class="red-text"> Incompleto</h5>					
						{%endif%}
						<a class="tooltipped " data-position="left" data-tooltip="Codigo de Inscripcion">
						<h5>{{inscrito.codigo_inscripcion}}</h5>
						</a>
					</div>	
				</li>
				</ul>
            </div>
            {% if inscrito.estado_inscripcion%}
			<form method='get' action='#' target="_blank" style="text-align:center;">
    			<input type="submit" value="Ver Credenciales" name="descargar_credenciales" class="btn-large">
			</form>
			{% endif%}
		</div>
		
		{%else%}
		<div class="col s6">
			<h4>Inscribirse</h4>
			<form action="" method="post">
				
				{% csrf_token %}
				<div class="row valign-wrapper">
					<div class="input-field col s6">
					<i class="material-icons prefix">chrome_reader_mode</i>
					<input id="codigo" type="number" name="codigo">
					<label for="codigo">Codigo de Inscripcion</label>
				</div>
				<div class=" col s6 ">
				<input type="submit" value="Verificar" class="btn valign-wrapper">

				</div>
				</div>
				</form>
		</div>
		<div class="col s6">
			
		</div>
		{%endif%}
	</div>

{%endblock%}



{%block scrip_text%}
	<script type="text/javascript">
		$(document).ready(function(){
					$(".dropdown-trigger").dropdown();
					  $('.tooltipped').tooltip();
    				$('.sidenav').sidenav();
    				$('.tabs').tabs();
    				$('.modal').modal();
    				$('.collapsible').collapsible();
    				$('select').formSelect();
    				});
	</script>
	
{%endblock%}
