{%extends 'eventos/index.html'%}

{%block title%}Pre-Inscritos{%endblock%}

{%block section_1%}
	<div class="section container row">
		{%if inscrito%}
		<div class="col s7">

			<h4 class="center-align">Estado de Inscripción</h4>
			<div class="Inscripcion">
				
				<ul class="collection with-header">
				<li class="collection-item row">
					<div class="col s5 left-align blue-text">
						<h5>Nombre:</h5>
						<h5>Apellido:</h5>
						<h5>Evento:	</h5>
						<h5>Paquete Adquirido:</h5>
						<h5>Estado de Pago:</h5>
						<h5 class="brown-text">Codigo de Pago</h6>
					</div>
					<div class="col s7">
						<h5> {{inscrito.profile.user.first_name}}</h5>	
						<h5> {{inscrito.profile.user.last_name}}</h5>
						<h5> {{inscrito.evento.nombre}}</h5>
						<h5> {{inscrito.paquete.nombre}}</h5>


						{%if inscrito.estado_inscripcion%}
						<h5 class="green-text"> Completo</h5>
						{%else%}
						<h5 class="red-text"> Incompleto</h5>					
						{%endif%}
						<a class="tooltipped " data-position="left" data-tooltip="Codigo de Inscripcion">
						<h5>{{inscrito.codigo_inscripcion}}</h5>
						</a>
					</div>
					
				</li>
					
				</ul>
            
            </div>   
		</div>
		{%else%}
			<div class="col s7">

			<h4 class="center-align">Preinscribirse</h4>
			<div class="form container">
				<div class="row">
					<div class="input-field col s6">
					<input value="{{user.first_name}}" disabled id="first_name" type="text" class="validate">
					<label for="first_name">Nombres</label>
					</div>
					<div class="input-field col s6">
					<input value="{{user.last_name}}" disabled id="first_name" type="text" class="validate">
					<label for="first_name">Apellidos</label>
					</div>
					<div class="input-field col s6">
					<input value="{{evento.nombre}}" disabled id="first_name" type="text" class="validate">
					<label for="first_name">Evento</label>
					</div>
					<div class="input-field col s6">
					<input value="Preinscrito" disabled id="first_name" type="text" class="validate">
					<label for="first_name">Estado</label>
					</div>
				</div>
			<form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="center-align">
                <input type="submit" value="Registrarse" class="btn">
                </div>
                </form>
             </div>   
		</div>

		{%endif%}		
		<div class="col s5">
			<h4 class="center-align">Paquetes Disponibles</h4>
			<ul class="collapsible popout">
			
			{%for paquete in evento.paquete_set.all%}

				<li>
					<div class="collapsible-header">
						<i class="material-icons col s2">confirmation_number
					</i><span class="col s8">{{paquete.nombre}}</span>
						<!-- Modal Trigger Paquete Delete -->
								
					</div>

					<div class="collapsible-body row">
						<h6 class="col s6"><b>Descripcion</b></h6>
						<span class="col s12 left-align">
							{{paquete.descripcion}}.
						</span>
						<h6 class="col s6"><b>Actividades</b></h6>
						<span class="col s12 left-align">
							{%for actividad in paquete.actividad.all%}
							<b>Nombre:</b> {{actividad.nombre}}, <b>Lugar:</b> {{actividad.ambiente.nombre}} - {{actividad.ambiente.ubicacion}}, <b>Fecha:</b> {{actividad.fecha}}, <b>Horario:</b> {{actividad.hora_inicio}} a {{actividad.hora_fin}}
							<br>
							{%endfor%}
						</span>
						<h6 class="col s6">Costo</h6><a class="col s6 waves-effect waves-light btn">{{paquete.costo}} $</a>
					</div>	
				</li>				
			{%endfor%}
			
		</ul>
		</div>
	</div>
{%endblock%}

{%block section_2%}

{%endblock%}



{%block scrip_text%}
	<script type="text/javascript">
		$(document).ready(function(){
					$(".dropdown-trigger").dropdown();
					  $('.tooltipped').tooltip();
    				$('.sidenav').sidenav();
    				$('.tabs').tabs();
    				$('.modal').modal();
    				$('.collapsible').collapsible();
    				$('select').formSelect();
    				});
	</script>
	
{%endblock%}

