{%extends 'eventos/index.html'%}

{%block title%}Evento: {{evento.nombre}}{%endblock%}

{%block section_1%}
	<div class="section container row">
		<div class="col s12 center-align">
			<h2> {{evento.nombre}}</h2>
		</div>

		<div class="col s6 left-align">
			
			<ul class="collection with-header collapsible ">
				<li class="collection-header"><h6><b>Descripción</b></h6></li>

				<li class="collection-item"><div>Inicio	: {{evento.fecha_inicio}}<a href="#!" class="secondary-content"><i class="material-icons">date_range</i></a></div></li>
				<li class="collection-item"><div>Fin 	: {{evento.fecha_fin}}<a href="#!" class="secondary-content"><i class="material-icons">date_range</i></a></div></li>
				<li class="collection-header"><h6><b>Actividades</b></h6></li>
					{%for actividad in evento.actividad_set.all%}
						<li >

							<div class="collapsible-header collection-item">{{actividad.nombre}}
							
							</div>
							<div class="collapsible-body row">
								<div class="col s6">
										<ul>
									<li>Fecha: {{actividad.fecha}}</li>
									<li>Ambiente: {{actividad.ambiente}}</li>
									<li>Inicio: {{actividad.hora_inicio}} - Fin: {{actividad.hora_fin}} </li>
									
									</ul>	
								</div>
								<div class="col s6">
									<ul>
										<li>Expositores</li>
										{%for expositor in actividad.expositor_set.all%}
												<li>-{{expositor.apellido}}, {{expositor.nombre}}</li>
										{%endfor%}
									
								</ul>
								</div>

								
							</div>
						</li>
					{%endfor%}
			
			</ul>	

		</div>
		<div class="row col s6 center-align  ">
			<div class="section col s12">
					<img class="col s12"  src="https://materializecss.com/images/sample-1.jpg">
				
			</div>
			<div class="divider col s12"></div>

			<div class="section col s12">
				<ul>
				<li><a href="{%url 'eventos:pre_inscribirse' evento.id%}" class="waves-effect waves-light btn">Pre-Inscribirse</a> 
					<a href="{%url 'eventos:inscribirse' evento.id%}" class="waves-effect waves-light btn">Inscribirse</a></li>
				
				</ul>
			</div>
			<div class="divider col s12"></div>
			<div class="section col s12">
        
			</div>
					
		</div>
		
	</div>
{%endblock%}



{%block scrip_text%}
	<script type="text/javascript">
		$(document).ready(function(){
					$(".dropdown-trigger").dropdown();
    				$('.sidenav').sidenav();
    				$('.tabs').tabs();
    				$('.modal').modal();
    				$('.collapsible').collapsible();
    				});
	</script>
	
{%endblock%}

