tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	color:black;
	text-align:center;
	vertical-align:middle;}
.xl66
	{mso-style-parent:style0;
	color:black;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid black;
	background:#B6D7A8;
	mso-pattern:#B6D7A8 none;}
.xl67
	{mso-style-parent:style0;
	color:black;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid black;
	background:#B6D7A8;
	mso-pattern:#B6D7A8 none;
	white-space:normal;}
.xl68
	{mso-style-parent:style0;
	color:black;}
.xl69
	{mso-style-parent:style0;
	color:black;
	border:.5pt solid black;
	background:#A4C2F4;
	mso-pattern:#A4C2F4 none;}
.xl70
	{mso-style-parent:style0;
	color:black;
	text-align:center;
	border:.5pt solid black;}
.xl71
	{mso-style-parent:style0;
	color:red;
	border:.5pt solid black;
	background:#F9CB9C;
	mso-pattern:#F9CB9C none;}
.xl72
	{mso-style-parent:style0;
	color:black;
	border:.5pt solid black;
	background:#F9CB9C;
	mso-pattern:#F9CB9C none;}
.xl73
	{mso-style-parent:style0;
	color:black;
	vertical-align:middle;}
.xl74
	{mso-style-parent:style0;
	color:black;
	vertical-align:middle;
	border:.5pt solid black;
	background:#F6B26B;
	mso-pattern:#F6B26B none;}
.xl75
	{mso-style-parent:style0;
	color:black;
	vertical-align:middle;
	border:.5pt solid black;
	background:#F9CB9C;
	mso-pattern:#F9CB9C none;}
.xl76
	{mso-style-parent:style0;
	color:red;
	vertical-align:middle;
	border:.5pt solid black;
	background:#F9CB9C;
	mso-pattern:#F9CB9C none;}
.xl77
	{mso-style-parent:style0;
	color:black;
	vertical-align:middle;
	border:.5pt solid black;}
.xl78
	{mso-style-parent:style0;
	color:black;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	background:#FFD966;
	mso-pattern:#FFD966 none;}
.xl79
	{mso-style-parent:style0;
	color:windowtext;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;}
.xl80
	{mso-style-parent:style0;
	color:windowtext;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;}
.xl81
	{mso-style-parent:style0;
	color:black;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#6D9EEB;
	mso-pattern:#6D9EEB none;}
.xl82
	{mso-style-parent:style0;
	color:windowtext;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;}
.xl83
	{mso-style-parent:style0;
	color:black;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	background:#F6B26B;
	mso-pattern:#F6B26B none;
	white-space:normal;}
